# Teaching markdown generator for academicpages

Takes a TSV of talks with metadata and converts them for use with [academicpages.github.io](academicpages.github.io). This is an interactive Jupyter notebook ([see more info here](http://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/what_is_jupyter.html)). The core python code is also in `talks.py`. Run either from the `markdown_generator` folder after replacing `talks.tsv` with one containing your data.

TODO: Make this work with BibTex and other databases, rather than Stuart's non-standard TSV format and citation style.

In [23]:
import pandas as pd
import os

## Data format

The TSV needs to have the following columns: title, type, url_slug, venue, date, location, talk_url, description, with a header at the top. Many of these fields can be blank, but the columns must be in the TSV.

- Fields that cannot be blank: `title`, `url_slug`, `date`. All else can be blank. `type` defaults to "Talk" 
- `date` must be formatted as YYYY-MM-DD.
- `url_slug` will be the descriptive part of the .md file and the permalink URL for the page about the paper. 
    - The .md file will be `YYYY-MM-DD-[url_slug].md` and the permalink will be `https://[yourdomain]/talks/YYYY-MM-DD-[url_slug]`
    - The combination of `url_slug` and `date` must be unique, as it will be the basis for your filenames

This is how the raw file looks (it doesn't look pretty, use a spreadsheet or other program to edit and create).

In [24]:
teaching = pd.read_excel('teaching.xlsx', 'teaching')
courses = pd.read_excel('teaching.xlsx', 'courses')

In [25]:
teaching.head(20)

,term,number,title,url_slug,venue,location
0,Fall 2007,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN"
1,Spring 2008,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN"
2,Fall 2008,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN"
3,Spring 2009,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN"
4,Fall 2009,MATH 140,College Algebra,class-1,Iowa State University,"Ames, IA"
5,Summer 2011,MATH 10,High School Algebra,class-2,Iowa State University,"Ames, IA"
6,Spring 2012,MATH 165,Calculus I,class-3,Iowa State University,"Ames, IA"
7,Summer 2012,MATH 166,Calculus II,class-4,Iowa State University,"Ames, IA"
8,Fall 2012,MATH 50,Calculus I,class-3,Drake Univeresity,"Des Moines, IA"
9,Spring 2013,MATH 166,Calculus II,class-4,Iowa State University,"Ames, IA"
10,Summer 2013,MATH 266/7,Elementary Differential Equations & Laplace Tr...,class-5,Iowa State University,"Ames, IA"
11,Spring 2014,MATH 70,Calculus II,class-4,Drake Univeresity,"Des Moines, IA"
12,Fall 2014,MATH 096,Introductory & Intermediate Algebra,class-6,Grand View University,"Des Moines, IA"
13,Fall 2014,MATH 140,Introduction to Discrete Structures,class-7,Grand View University,"Des Moines, IA"
14,Fall 2014,MATH 340,Discrete Computational Structures,class-8,Grand View University,"Des Moines, IA"
15,Spring 2015,MATH 094,Introduction to Algebra,class-9,Grand View University,"Des Moines, IA"
16,Spring 2015,MATH 096,Introductory & Intermediate Algebra,class-6,Grand View University,"Des Moines, IA"
17,Spring 2015,MATH 351,Introduction to Numerical Analysis,class-10,Grand View University,"Des Moines, IA"
18,Summer 2015,MATH 094,Introduction to Algebra,class-9,Grand View University,"Des Moines, IA"
19,Summer 2015,MATH 094,Introduction to Algebra,class-9,Grand View University,"Des Moines, IA"

In [26]:
teaching = teaching.merge(courses)
teaching

,term,number,title,url_slug,venue,location,description
0,Fall 2007,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN","Concepts of algebra (real numbers, exponents, ..."
1,Spring 2008,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN","Concepts of algebra (real numbers, exponents, ..."
2,Fall 2008,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN","Concepts of algebra (real numbers, exponents, ..."
3,Spring 2009,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN","Concepts of algebra (real numbers, exponents, ..."
4,Fall 2009,MATH 140,College Algebra,class-1,Iowa State University,"Ames, IA","Coordinate geometry, quadratic and polynomial ..."
...,...,...,...,...,...,...,...
70,Fall 2021,CDS 1010,Introduction to Programming,class-22,Hamline University,"Saint Paul, MN",Goals: To help students develop greater precis...
71,Spring 2020,CDS 3200,Elements of Statistical Learning,class-24,Hamline University,"Saint Paul, MN",Goals: This is a continuation course for MATH ...
72,Spring 2021,CDS 3200,Elements of Statistical Learning,class-24,Hamline University,"Saint Paul, MN",Goals: This is a continuation course for MATH ...
73,Spring 2020,MATH 3440,Discrete Mathematics,class-25,Hamline University,"Saint Paul, MN",Goals: To introduce the concept of the discret...
74,Summer 2021,CDS 5950,Computational Data Science Capstone,class-26,Hamline University,"Saint Paul, MN",Goals: To help students integrate the knowledg...

In [27]:
def term_order(term):
    if term == 'Fall':
        return '04'
    elif term in ['J-term', 'Winter']:
        return '01'
    elif term == 'Spring':
        return '02'
    elif term == 'Summer':
        return '03'

teaching['year'] = teaching.apply(lambda row: row.term.split(' ')[1], axis=1)
teaching['term'] = teaching.apply(lambda row: row.term.split(' ')[0], axis=1)
teaching['term_order'] = teaching.apply(lambda x: term_order(x.term), axis=1)

teaching = teaching[['term', 'year', 'term_order', 'number', 'title', 'url_slug', 'venue', 'location', 'description']]

In [28]:
teaching

,term,year,term_order,number,title,url_slug,venue,location,description
0,Fall,2007,04,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN","Concepts of algebra (real numbers, exponents, ..."
1,Spring,2008,02,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN","Concepts of algebra (real numbers, exponents, ..."
2,Fall,2008,04,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN","Concepts of algebra (real numbers, exponents, ..."
3,Spring,2009,02,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN","Concepts of algebra (real numbers, exponents, ..."
4,Fall,2009,04,MATH 140,College Algebra,class-1,Iowa State University,"Ames, IA","Coordinate geometry, quadratic and polynomial ..."
...,...,...,...,...,...,...,...,...,...
70,Fall,2021,04,CDS 1010,Introduction to Programming,class-22,Hamline University,"Saint Paul, MN",Goals: To help students develop greater precis...
71,Spring,2020,02,CDS 3200,Elements of Statistical Learning,class-24,Hamline University,"Saint Paul, MN",Goals: This is a continuation course for MATH ...
72,Spring,2021,02,CDS 3200,Elements of Statistical Learning,class-24,Hamline University,"Saint Paul, MN",Goals: This is a continuation course for MATH ...
73,Spring,2020,02,MATH 3440,Discrete Mathematics,class-25,Hamline University,"Saint Paul, MN",Goals: To introduce the concept of the discret...
74,Summer,2021,03,CDS 5950,Computational Data Science Capstone,class-26,Hamline University,"Saint Paul, MN",Goals: To help students integrate the knowledg...

In [29]:
teaching.sort_values(by=['year', 'term_order', 'number'], axis=0).head(20)

,term,year,term_order,number,title,url_slug,venue,location,description
0,Fall,2007,04,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN","Concepts of algebra (real numbers, exponents, ..."
1,Spring,2008,02,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN","Concepts of algebra (real numbers, exponents, ..."
2,Fall,2008,04,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN","Concepts of algebra (real numbers, exponents, ..."
3,Spring,2009,02,MATH 112,College Algebra,class-1,Minnesota State University,"Mankato, MN","Concepts of algebra (real numbers, exponents, ..."
4,Fall,2009,04,MATH 140,College Algebra,class-1,Iowa State University,"Ames, IA","Coordinate geometry, quadratic and polynomial ..."
5,Summer,2011,03,MATH 10,High School Algebra,class-2,Iowa State University,"Ames, IA","Topics include signed numbers, polynomials, ra..."
6,Spring,2012,02,MATH 165,Calculus I,class-3,Iowa State University,"Ames, IA","Differential calculus, applications of the der..."
7,Summer,2012,03,MATH 166,Calculus II,class-4,Iowa State University,"Ames, IA","Integral calculus, applications of the integra..."
9,Fall,2012,04,MATH 50,Calculus I,class-3,Drake Univeresity,"Des Moines, IA","Very brief review of algebra, logarithms, and ..."
8,Spring,2013,02,MATH 166,Calculus II,class-4,Iowa State University,"Ames, IA","Integral calculus, applications of the integra..."
10,Summer,2013,03,MATH 266/7,Elementary Differential Equations & Laplace Tr...,class-5,Iowa State University,"Ames, IA",Solution methods for ordinary differential equ...
11,Spring,2014,02,MATH 70,Calculus II,class-4,Drake Univeresity,"Des Moines, IA",Advanced applications of differentiation; adva...
12,Fall,2014,04,MATH 096,Introductory & Intermediate Algebra,class-6,Grand View University,"Des Moines, IA",This course covers: operations with numeric an...
14,Spring,2015,02,MATH 094,Introduction to Algebra,class-9,Grand View University,"Des Moines, IA",This course is a college preparatory course de...
13,Spring,2015,02,MATH 096,Introductory & Intermediate Algebra,class-6,Grand View University,"Des Moines, IA",This course covers: operations with numeric an...
21,Spring,2015,02,MATH 351,Introduction to Numerical Analysis,class-10,Grand View University,"Des Moines, IA","Topics included are: error analysis, curve fit..."
15,Summer,2015,03,MATH 094,Introduction to Algebra,class-9,Grand View University,"Des Moines, IA",This course is a college preparatory course de...
16,Summer,2015,03,MATH 094,Introduction to Algebra,class-9,Grand View University,"Des Moines, IA",This course is a college preparatory course de...
22,Fall,2015,04,MATH 095,Intermediate Algebra,class-11,Grand View University,"Des Moines, IA",This course will include a brief review of: se...
23,Fall,2015,04,MATH 116,Finite Mathematics,class-12,Grand View University,"Des Moines, IA","Topics include elementary linear functions, sy..."

## Escape special characters

YAML is very picky about how it takes a valid string, so we are replacing single and double quotes (and ampersands) with their HTML encoded equivilents. This makes them look not so readable in raw format, but they are parsed and rendered nicely.

In [30]:
html_escape_table = {
    "&": "&amp;",
    '"': "&quot;",
    "'": "&apos;"
    }

def html_escape(text):
    if type(text) is str:
        return "".join(html_escape_table.get(c,c) for c in text)
    else:
        return "False"

In [31]:
for row, item in teaching.iterrows():
    print(item)

term                                                        Fall
year                                                        2007
term_order                                                    04
number                                                  MATH 112
title                                            College Algebra
url_slug                                                 class-1
venue                                 Minnesota State University
location                                             Mankato, MN
description    Concepts of algebra (real numbers, exponents, ...
Name: 0, dtype: object
term                                                      Spring
year                                                        2008
term_order                                                    02
number                                                  MATH 112
title                                            College Algebra
url_slug                                                 class-1
venue                                 Minnesota State University
location                                             Mankato, MN
description    Concepts of algebra (real numbers, exponents, ...
Name: 1, dtype: object
term                                                        Fall
year                                                        2008
term_order                                                    04
number                                                  MATH 112
title                                            College Algebra
url_slug                                                 class-1
venue                                 Minnesota State University
location                                             Mankato, MN
description    Concepts of algebra (real numbers, exponents, ...
Name: 2, dtype: object
term                                                      Spring
year                                                        2009
term_order                                                    02
number                                                  MATH 112
title                                            College Algebra
url_slug                                                 class-1
venue                                 Minnesota State University
location                                             Mankato, MN
description    Concepts of algebra (real numbers, exponents, ...
Name: 3, dtype: object
term                                                        Fall
year                                                        2009
term_order                                                    04
number                                                  MATH 140
title                                            College Algebra
url_slug                                                 class-1
venue                                      Iowa State University
location                                                Ames, IA
description    Coordinate geometry, quadratic and polynomial ...
Name: 4, dtype: object
term                                                      Summer
year                                                        2011
term_order                                                    03
number                                                   MATH 10
title                                        High School Algebra
url_slug                                                 class-2
venue                                      Iowa State University
location                                                Ames, IA
description    Topics include signed numbers, polynomials, ra...
Name: 5, dtype: object
term                                                      Spring
year                                                        2012
term_order                                                    02
number                                                  MATH 165
title                                                 Calculus I
url_slug                                                 class-3
venue                                      Iowa State University
location                                                Ames, IA
description    Differential calculus, applications of the der...
Name: 6, dtype: object
term                                                      Summer
year                                                        2012
term_order                                                    03
number                                                  MATH 166
title                                                Calculus II
url_slug                                                 class-4
venue                                      Iowa State University
location                                                Ames, IA
description    Integral calculus, applications of the integra...
Name: 7, dtype: object
term                                                      Spring
year                                                        2013
term_order                                                    02
number                                                  MATH 166
title                                                Calculus II
url_slug                                                 class-4
venue                                      Iowa State University
location                                                Ames, IA
description    Integral calculus, applications of the integra...
Name: 8, dtype: object
term                                                        Fall
year                                                        2012
term_order                                                    04
number                                                   MATH 50
title                                                 Calculus I
url_slug                                                 class-3
venue                                          Drake Univeresity
location                                          Des Moines, IA
description    Very brief review of algebra, logarithms, and ...
Name: 9, dtype: object
term                                                      Summer
year                                                        2013
term_order                                                    03
number                                                MATH 266/7
title          Elementary Differential Equations & Laplace Tr...
url_slug                                                 class-5
venue                                      Iowa State University
location                                                Ames, IA
description    Solution methods for ordinary differential equ...
Name: 10, dtype: object
term                                                      Spring
year                                                        2014
term_order                                                    02
number                                                   MATH 70
title                                                Calculus II
url_slug                                                 class-4
venue                                          Drake Univeresity
location                                          Des Moines, IA
description    Advanced applications of differentiation; adva...
Name: 11, dtype: object
term                                                        Fall
year                                                        2014
term_order                                                    04
number                                                  MATH 096
title                        Introductory & Intermediate Algebra
url_slug                                                 class-6
venue                                      Grand View University
location                                          Des Moines, IA
description    This course covers: operations with numeric an...
Name: 12, dtype: object
term                                                      Spring
year                                                        2015
term_order                                                    02
number                                                  MATH 096
title                        Introductory & Intermediate Algebra
url_slug                                                 class-6
venue                                      Grand View University
location                                          Des Moines, IA
description    This course covers: operations with numeric an...
Name: 13, dtype: object
term                                                      Spring
year                                                        2015
term_order                                                    02
number                                                  MATH 094
title                                    Introduction to Algebra
url_slug                                                 class-9
venue                                      Grand View University
location                                          Des Moines, IA
description    This course is a college preparatory course de...
Name: 14, dtype: object
term                                                      Summer
year                                                        2015
term_order                                                    03
number                                                  MATH 094
title                                    Introduction to Algebra
url_slug                                                 class-9
venue                                      Grand View University
location                                          Des Moines, IA
description    This course is a college preparatory course de...
Name: 15, dtype: object
term                                                      Summer
year                                                        2015
term_order                                                    03
number                                                  MATH 094
title                                    Introduction to Algebra
url_slug                                                 class-9
venue                                      Grand View University
location                                          Des Moines, IA
description    This course is a college preparatory course de...
Name: 16, dtype: object
term                                                      Summer
year                                                        2016
term_order                                                    03
number                                                  MATH 094
title                                    Introduction to Algebra
url_slug                                                 class-9
venue                                      Grand View University
location                                          Des Moines, IA
description    This course is a college preparatory course de...
Name: 17, dtype: object
term                                                        Fall
year                                                        2017
term_order                                                    04
number                                                  MATH 094
title                                    Introduction to Algebra
url_slug                                                 class-9
venue                                      Grand View University
location                                          Des Moines, IA
description    This course is a college preparatory course de...
Name: 18, dtype: object
term                                                        Fall
year                                                        2017
term_order                                                    04
number                                                  MATH 094
title                                    Introduction to Algebra
url_slug                                                 class-9
venue                                      Grand View University
location                                          Des Moines, IA
description    This course is a college preparatory course de...
Name: 19, dtype: object
term                                                        Fall
year                                                        2017
term_order                                                    04
number                                                  MATH 094
title                                    Introduction to Algebra
url_slug                                                 class-9
venue                                      Grand View University
location                                          Des Moines, IA
description    This course is a college preparatory course de...
Name: 20, dtype: object
term                                                      Spring
year                                                        2015
term_order                                                    02
number                                                  MATH 351
title                         Introduction to Numerical Analysis
url_slug                                                class-10
venue                                      Grand View University
location                                          Des Moines, IA
description    Topics included are: error analysis, curve fit...
Name: 21, dtype: object
term                                                        Fall
year                                                        2015
term_order                                                    04
number                                                  MATH 095
title                                       Intermediate Algebra
url_slug                                                class-11
venue                                      Grand View University
location                                          Des Moines, IA
description    This course will include a brief review of: se...
Name: 22, dtype: object
term                                                        Fall
year                                                        2015
term_order                                                    04
number                                                  MATH 116
title                                         Finite Mathematics
url_slug                                                class-12
venue                                      Grand View University
location                                          Des Moines, IA
description    Topics include elementary linear functions, sy...
Name: 23, dtype: object
term                                                        Fall
year                                                        2015
term_order                                                    04
number                                                  MATH 116
title                                         Finite Mathematics
url_slug                                                class-12
venue                                      Grand View University
location                                          Des Moines, IA
description    Topics include elementary linear functions, sy...
Name: 24, dtype: object
term                                                      Spring
year                                                        2016
term_order                                                    02
number                                                  MATH 116
title                                         Finite Mathematics
url_slug                                                class-12
venue                                      Grand View University
location                                          Des Moines, IA
description    Topics include elementary linear functions, sy...
Name: 25, dtype: object
term                                                      Spring
year                                                        2016
term_order                                                    02
number                                                  MATH 116
title                                         Finite Mathematics
url_slug                                                class-12
venue                                      Grand View University
location                                          Des Moines, IA
description    Topics include elementary linear functions, sy...
Name: 26, dtype: object
term                                                      Summer
year                                                        2016
term_order                                                    03
number                                                  MATH 116
title                                         Finite Mathematics
url_slug                                                class-12
venue                                      Grand View University
location                                          Des Moines, IA
description    Topics include elementary linear functions, sy...
Name: 27, dtype: object
term                                                        Fall
year                                                        2016
term_order                                                    04
number                                                  MATH 116
title                                         Finite Mathematics
url_slug                                                class-12
venue                                      Grand View University
location                                          Des Moines, IA
description    Topics include elementary linear functions, sy...
Name: 28, dtype: object
term                                                        Fall
year                                                        2016
term_order                                                    04
number                                                  MATH 116
title                                         Finite Mathematics
url_slug                                                class-12
venue                                      Grand View University
location                                          Des Moines, IA
description    Topics include elementary linear functions, sy...
Name: 29, dtype: object
term                                                      Spring
year                                                        2017
term_order                                                    02
number                                                  MATH 116
title                                         Finite Mathematics
url_slug                                                class-12
venue                                      Grand View University
location                                          Des Moines, IA
description    Topics include elementary linear functions, sy...
Name: 30, dtype: object
term                                                      Spring
year                                                        2017
term_order                                                    02
number                                                  MATH 116
title                                         Finite Mathematics
url_slug                                                class-12
venue                                      Grand View University
location                                          Des Moines, IA
description    Topics include elementary linear functions, sy...
Name: 31, dtype: object
term                                                      Spring
year                                                        2018
term_order                                                    02
number                                                  MATH 116
title                                         Finite Mathematics
url_slug                                                class-12
venue                                      Grand View University
location                                          Des Moines, IA

## Creating the markdown files

This is where the heavy lifting is done. This loops through all the rows in the TSV dataframe, then starts to concatentate a big string (```md```) that contains the markdown for each type. It does the YAML metadata first, then does the description for the individual page.

In [32]:
loc_dict = {}

for row, item in teaching.iterrows():
    
    # if '/' in str(item.number):
    #     tmp_number = item.number.replace('/', '')
    #     md_filename = str(tmp_number).replace(' ', '_') + '-' + item.url_slug + '.md'
    #     html_filename = str(tmp_number).replace(' ', '_') + "-" + item.url_slug 
    # else:
    #     md_filename = str(item.number).replace(' ', '_') + "-" + item.url_slug + ".md"
    #     html_filename = str(item.number).replace(' ', '_') + "-" + item.url_slug 

    md_filename = str(item.term) + '-' + str(item.year) + "-" + item.url_slug + ".md"
    html_filename = str(item.term) + '-'  + str(item.year) + "-" + item.url_slug 

    year = item.year
    
    md = "---\ntitle: \""   + item.title + '"\n'
    md += "collection: teaching" + "\n"
    
    md += 'type: "teaching"\n'
    
    md += "permalink: /teaching/" + html_filename + "\n"
        
    if len(str(item.term)) > 3:
        md += "date: " + str(item.term) + str(item.year) + "\n"
        
    if len(str(item.number)) > 3:
        md += "number: " + str(item.number) + "\n"
        
    if len(str(item.url_slug)) > 3:
        md += "url_slug: " + str(item.url_slug) + "\n"
        
    if len(str(item.venue)) > 3:
        md += 'venue: "' + item.venue + '"\n'
    
    if len(str(item.location)) > 3:
        md += 'location: "' + str(item.location) + '"\n'
           
    md += "---\n"
    
    
#     if len(str(item.talk_url)) > 3:
#         md += "\n[More information here](" + item.talk_url + ")\n" 
        
    
    if len(str(item.description)) > 3:
        md += "\n" + html_escape(item.description) + "\n"
        
        
    md_filename = os.path.basename(md_filename)
    #print(md)
    
    with open("../_teaching/" + md_filename, 'w') as f:
        f.write(md)

These files are in the talks directory, one directory below where we're working from.

In [33]:
!ls ../_teaching

CDS_1010-class-22.md  MATH_112-class-1.md   MATH_310-class-15.md
CDS_3200-class-24.md  MATH_116-class-12.md  MATH_3320-class-18.md
CDS_5950-class-26.md  MATH_1170-class-3.md  MATH_3440-class-25.md
CSCI_1250-class-22.md MATH_1200-class-20.md MATH_351-class-10.md
CSCI_1980-class-19.md MATH_140-class-1.md   MATH_450-class-16.md
FSEM_1010-class-23.md MATH_165-class-3.md   MATH_50-class-3.md
MATH_094-class-9.md   MATH_166-class-4.md   MATH_5950-class-21.md
MATH_095-class-11.md  MATH_261-class-17.md  MATH_70-class-4.md
MATH_096-class-6.md   MATH_2667-class-5.md
MATH_10-class-2.md    MATH_300-class-13.md

In [34]:
!cat ../_teaching/MATH_70-class-4.md

---
title: "Calculus II"
collection: teaching
type: "teaching"
permalink: /teaching/MATH_70-class-4
date: Spring2014
number: MATH 70
url_slug: class-4
venue: "Drake Univeresity"
location: "Des Moines, IA"
---

Advanced applications of differentiation; advanced techniques and applications of integration; simple examples of differential equations.

In [35]:
!cat ../_teaching/CDS_1010-class-22.md

---
title: "Introduction to Programming"
collection: teaching
type: "teaching"
permalink: /teaching/CDS_1010-class-22
date: Fall2021
number: CDS 1010
url_slug: class-22
venue: "Hamline University"
location: "Saint Paul, MN"
---

Goals: To help students develop greater precision in their algorithmic thinking by writing moderate-sized programs for a variety of applications, including but not limited to biology, chemistry,  economics, literary studies, and mathematics.

Content: Students will learn the fundamentals of computer programming (loop structures, if-else statements, Boolean expressions, and arrays) to solve  problems from different disciplines. A short introduction to object-oriented programming is also given. This course is taught using Python.

In [36]:
!cat ../_teaching/FSEM_1010-class-23.md

---
title: "First Year Seminar: Uses and Misuses of Algorithms"
collection: teaching
type: "teaching"
permalink: /teaching/FSEM_1010-class-23
date: Fall2021
number: FSEM 1010
url_slug: class-23
venue: "Hamline University"
location: "Saint Paul, MN"
---

Data scientists have used algorithms for many great things: Netflix’s recommendation system; building teams that go on to win the World Series or the Stanley Cup; proving the existence of the Higgs boson; and early detection of cancer. Other data scientists have used algorithms with malicious intent: targeting of vulnerable people by payday loan companies and for-profit higher education companies that provide little---if any---benefit to their students; using of social network bots to spread misinformation and sow discontent within a country. Sometimes algorithms have unintended negative effects: the firing of skilled teachers in Washington, D.C.; racial discrimination in the lengths of prison sentences and the granting (or not granting) of parole; and discriminating against job applicants (including racism, sexism, and ableism).

In this course, we will investigate both successes and failures of algorithms. We will discover that algorithms are efficient at learning from data, including learning and amplifying biases within the data. We will also get hands-on experience working with data, including investigating data for evidence of bias, using algorithms to make predictions, and using data and algorithms to inform decision-making. No prior experience in statistics or programming is necessary. The only requirements are the desire to solve problems using data and an interest in the ethical use of data.